* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: whitesmoke;
}

.loader-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  width: 20px;
  height: 20px;
}

.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% {  -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#searcher {
  margin: 20px auto;
  width: 600px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 160px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  background-color: #337ab7;
  border: none;
}

input {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  border: 1px solid #000;
}

.container {
  padding-top: 20px;
  padding-right: 16px;
  display: flex;
  overflow-x: scroll;
  /* white-space: nowrap; */
}

.weather {
  /* display: inline-flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(177, 228, 248);
  /* width: 160px; */
  min-width: 180px;
  height: 250px;
  border: 3px solid #daac70;
  border-radius: 5px;
  text-align: center;
  margin-left: 20px;
  margin-bottom: 20px;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
}

.weather .city,
.weather .temp,
.weather .icon,
.weather .disc,
.weather .time {
  flex-grow: 1;
  margin-bottom: 5px;
}